aside
  position fixed
  top 50%
  left 50%
  margin -100px 0 0 500px
  z-index 0

  .action
    li 
      padding 12px 10px 12px 12px
    margin-bottom 10px

  .page
    li
      padding 24px 10px 24px 12px

  ul
    border 1px solid #505157
    border-bottom none
    border-radius 4px
    li
      border-bottom 1px solid #505157
      &, a, a:visited
        font 1.5em font-icon      
        cursor pointer
        color #616267
        &:hover
          color #c4612c

    li.icon-screenshot:before
      content '\f05b'

    li.icon-fullscreen:before
      content '\f0b2'

    li.icon-arrow-up
      display none
      &:before
        content '\f062'

    li.icon-toc:before
      content '\f0ca'

    li.icon-summary:before
      content '\f03a'

    li.icon-comment:before
      content '\f086'

    li.icon-prev
      padding-left: 10px
      a:before
        content '\f053'

    li.icon-next
      a:before
        content '\f054'

.category-list
  font-size 0.9em
  padding 15px 20px
  
.category-list-count
  margin-left 8px
  font-size 0.8em
  color color-meta
  &:before
    content '('
  &:after
    content ')'

.remodal
  border-radius 8px
  article
    &.summary, &.toc, &.comment   
      padding 0 20px
      blockquote
        border-radius 8px
        font-size 0.8em
        margin-top 10px