#footer
  width page-width
  margin 20px auto 0
  padding 20px 0 0
  font-size 0.875em
  color #ccc
  overflow hidden
  text-align center

  a
    color #fff
    font-style italic

@media screen and (max-width: app-width)
  body
    padding 0
  
  .wrapper    
    box-shadow none
    width 100%
    .content
      border-radius 0  
  
  #footer
    margin 0 auto
    padding 10px
    width auto
    text-align left

  #header
    border-radius 0
    padding 15px 20px
    .title
      float none

    .nav
      ul
        li
          margin-left 10px
  
    p
      width 100%

  article
    padding 15px 20px

    .gallery
      margin 0 -20px

    .entry
      blockquote
        margin 0 -20px 20px
        padding 18px 20px 1px