article(class= post.layout)
  header
    .icon
    != partial('post/date', {date_format: config.date_format})
    != partial('post/title')
  if !index && post.photos && post.photos.length > 0
    != partial('post/gallery')
  .entry
    if post.excerpt && index
      != post.excerpt
    else
      != post.content
  if !index && 'summary' !== post.layout
    footer
      if post.categories && post.categories.length > 0
        != partial('post/category')
      if post.tags && post.tags.length > 0
        != partial('post/tag')
      != partial('post/share')       
    .clearfix
//- 为解决首页最后一行分隔线的问题我也是拼了         
if index && post.excerpt
  footer(class= 'end-sep')
    .alignleft
      a(href= config.root + post.path +"#more", class="more-link")= __('excerpt_title')