article(class= post.layout)
  header
    .icon
    != partial('post/date', {date_format: config.date_format})
    != partial('post/title')
  if !index && post.photos && post.photos.length > 0
    != partial('post/gallery')
  .entry
    if post.excerpt && index
      != post.excerpt
    else
      != post.content
  footer(class= index?'end-sep': '')
    if index
      if post.excerpt
        .alignleft
          a(href= config.root + post.path +"#more", class="more-link")= __('excerpt_title')
    else
      != partial('post/category')
      != partial('post/tag')
      != partial('post/share')       
    .clearfix