aside
  ul.btn
    li(title="回到顶部", class="icon-arrow-up")
    li(title="全屏", class="icon-fullscreen")
    li(title="目录", class="icon-summary", data-remodal-target="summary")
    li(title="评论", class="icon-comment", data-remodal-target="comment")

  if (page.prev || page.next)
    ul.page
      if page.prev
        li(title= page.prev.title, class="icon-prev")
          a(href= url_for(page.prev.path))   
      if page.next
        li(title= page.next.title, class="icon-next")
          a(href= url_for(page.next.path))

.remodal(data-remodal-id='summary')
  button.remodal-close(data-remodal-action='close')
  h1 目录
  .summary
    blockquote
      p
        | 博学之，审问之，慎思之，明辨之，笃行之。
        br
        | 有弗学，学之弗能，弗措也；
        br
        | 有弗问，问之弗知，弗措也；
        br
        | 有弗思，思之弗得，弗措也；
        br
        | 有弗辨，辨之弗明，弗措也；
        br
        | 有弗行，行之弗笃，弗措也。
        br
        | 人一能之，己百之；人十能之，己千之。
        br
        | 果能此道矣，虽愚必明，虽柔必强。
      footer
        strong 子思
        cite 《中庸·第二十章》
    a#more
    ul
      li
        a(href='') 概述
      li
        a(href='../method/程序员的年龄天花板/') 博学之
        ul
          li
            a(href='../method/程序员的年龄天花板/') 程序员的年龄天花板
          li
            a(href='../method/学习的逻辑：知识经济学/') 学习的逻辑：知识经济学
          li
            a(href='../method/学习的逻辑2：职业半山腰/') 学习的逻辑2：职业半山腰
          li
            a(href='../method/更快学会任何东西的终极指南/') 更快学会任何东西的终极指南
          li
            a(href='../method/软件工程更接近于经济学/') 软件工程更接近于经济学
      li
        a(href='') 审问之
      li
        a(href='') 慎思之
      li
        a(href='') 明辨之
      li
        a(href='') 笃行之

.remodal(data-remodal-id='comment')
  button.remodal-close(data-remodal-action='close')
  h1 评论
  p