aside
  ul.btn    
    li(title="索引", class="icon-toc", data-remodal-target="toc")
    if theme.duoshuo_shortname
      li(title="评论", class="icon-comment", data-remodal-target="comment")
    li(title="全屏", class="icon-fullscreen")    
    li(title="回到顶部", class="icon-arrow-up")    
  ul.page  
    if page.prev
      li(title= page.prev.title, class="icon-prev")
        a(href= url_for(page.prev.path))   
    li(title="目录", class="icon-summary", data-remodal-target="summary")
    if page.next
      li(title= page.next.title, class="icon-next")
        a(href= url_for(page.next.path))

.remodal(data-remodal-id='toc', data-remodal-options="hashTracking: false")
  button.remodal-close(data-remodal-action='close')
  h1 索引
  article.toc
    != toc(page.content)

.remodal(data-remodal-id='summary', data-remodal-options="hashTracking: false")
  button.remodal-close(data-remodal-action='close')
  h1 目录
  article.summary

if theme.duoshuo_shortname
  .remodal(data-remodal-id='comment', data-remodal-options="hashTracking: false")
    button.remodal-close(data-remodal-action='close')
    h1 评论
    article.comment
      .ds-thread(data-thread-key= theme.duoshuo_shortname, data-title= page.title, data-url= url_for(page.path))