.copyright
  | &copy; #{new Date().getFullYear()} 
  a(href= config.root)= config.author?config.author: config.title
.theme-copyright
  | Theme by 
  a(href="https://github.com/orderedlist", target="_blank") orderedlist
  |   | Redesign by 
  a(href="http://github.com/ronesam", target="_blank") ronesam
.clearfix