if page.prev || page.next
  nav#pagination
    if page.prev
      a(href= config.root + page.prev_link, class="prev")= __('prev')
    if page.next
      a(href= config.root + page.next_link, class="next")= __('next')
    .clearfix