if is_post() && 'summary' != page.layout
  != js(theme.cdn.lib + 'remodal/1.0.5/remodal.min.js')
  != js(theme.cdn.lib + 'screenfull.js/2.0.0/screenfull.min.js')
  //需要先载入全屏的函数，aside里面会重写，加入回调
  != js(theme.cdn.prefix + 'js/aside.js')
  if theme.duoshuo_shortname
    script.
      var duoshuoQuery = {short_name: '#{theme.duoshuo_shortname}'};
  if page.photos && page.photos.length > 0
    //如果有画廊则启动图片载入判断（确保图片加载完成）
    != js(theme.cdn.lib + 'jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js')
    != js(theme.cdn.prefix + 'js/gallery.js')
  if page.fancybox
    //如果文章中有图片（除画廊外），则载入fancybox特效相关代码
    != js(theme.cdn.lib + 'fancybox/2.1.5/jquery.fancybox.min.js')
    script.
      //给所有的图片打上标识，供fancybox（除了明确表示非fancybox）调用
      $('.entry').each(function(i) {
        $(this).find('img:not([class*="no-fancybox"])').each(function () {
          var alt = this.alt;
          if(alt) {
            $(this).after('<span class="caption">' + alt + '</span>');
          }
          if($(this).parent('a').length === 0) {
            $(this).wrap('<a href="' + this.src + '" title="' + alt + '" class="fancybox" rel="gallery' + i + '" />');
          }
        });
      });
      //启动fancybox
      $('.fancybox').fancybox();