* 
  margin 0
  padding 0
  
html
  background color-background linear-gradient(#6C7989, #434B55) fixed
  background-image url(image-background-html)
  background-attachment local
  font-size 16px

body
  padding 50px 0
  margin 0
  font 1em/1.5 font-title
  color color-font
  background transparent

.wrapper
  width page-width
  margin 0 auto
  background color-background
  border-radius 8px
  box-shadow rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px

header, section, footer
  display block

a
  color color-link
  &:link, &:hover, &:visited, &:active
    text-decoration none
  

p
  margin 0 0 20px
  padding 0

strong
  color color-strong
  font-weight 700

.content
  background-image url(image-background-body)
  border-radius 0 0 8px 8px
  border-top 1px solid #fff

.clearfix
  zoom 1

  &:before,
  &:after
    content ""
    display table

  &:after
    clear both

.fa:before
   margin-right 7px 
i.fa
  margin-right 7px
  &:before
    margin-right 0

code
  background #777 none repeat scroll 0% 0%
  margin 0 3px
  padding 2px 6px
  border-radius 4px
  box-shadow 0px 1px 3px #000 inset
  color #FFF
  text-shadow 0px 1px 1px #000
  font-size 0.9em
  font-family Monaco,Courier New,Courier,monospace