// Image
image-background-html = '../img/checker.png'
image-background-body = '../img/back.gif'

// Color
color-background = #5C6B80
color-font = #5C6B80
color-link = #069
color-strong = #222

// Font
font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif
font-icon = FontAwesome

// Width
page-width = 960px
app-width = 1024px